.cart {
  padding: 50px 0 160px 0;
}
.cart-title {
  font-weight: 400;
  font-size: 36px;
  line-height: 130%;
  color: #000;
  font-family: 'Lora', sans-serif;
  margin-bottom: 35px;
}
.cart-content {
  display: flex;
  align-items: baseline;
}
.cart-products.not {
  width: 678px;
  display: flex;
  flex-direction: column;
}
.cart-product {
  width: 678px;
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding-bottom: 17px;
  border-bottom: 1px solid #ebebeb;
  margin-bottom: 20px;
}
.cart-product-img {
  border-radius: 5px;
  width: 80px;
  height: 80px;
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  margin-right: 26px;
}
.cart-product-name {
  width: 203px;
  font-weight: 500;
  font-size: 16px;
  line-height: 130%;
  color: #202b21;
  font-family: 'Montserrat', sans-serif;
}
.cart-product-count {
  display: flex;
  gap: 17px;
  align-items: center;
  margin-left: 54px;
  margin-right: 69px;
}
.cart-product-count div {
  line-height: 1px;
  cursor: pointer;
}
.cart-product-count input {
  border: 1px solid #6cac72;
  border-radius: 5px;
  width: 40px;
  height: 28px;
  text-align: center;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #202b21;
  outline: none;
  font-weight: 400;
  font-size: 17px;
  line-height: 130%;
  text-align: center;
  color: #6cac72;
  font-family: 'Montserrat', sans-serif;
}
.cart-product-price {
  font-weight: 600;
  font-size: 18px;
  line-height: 130%;
  color: #2c2c2c;
  font-family: 'Montserrat', sans-serif;
  margin-right: 49px;
  width: 80px;
}
.cart-product-close {
  cursor: pointer;
}

.cart-info {
  width: 501px;
  margin-left: 61px;
}
.cart-info-price {
  border-radius: 5px;

  background: #e7f1e8;
  padding: 40px;
  margin-bottom: 12px;
}
.cart-info-title {
  font-weight: 400;
  font-size: 26px;
  line-height: 130%;
  color: #202b21;
  font-family: 'Lora', sans-serif;
  margin-bottom: 20px;
}
.cart-info-quantity {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2c2c2c;
  margin-right: 12px;
  font-family: 'Montserrat', sans-serif;
}
.cart-info-quantity span {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #2c2c2c;
  font-family: 'Montserrat', sans-serif;
}
.cart-info-total {
  font-weight: 400;
  font-size: 16px;
  line-height: 130%;
  color: #2c2c2c;
  font-family: 'Montserrat', sans-serif;
  margin-right: 12px;
  margin-bottom: 5px;
}
.cart-info-total span {
  font-weight: 500;
  font-size: 20px;
  line-height: 130%;
  color: #2c2c2c;
  font-family: 'Montserrat', sans-serif;
}
.cart-info-total div {
  font-style: italic;
  font-weight: 300;
  font-size: 14px;
  line-height: 130%;
  color: #2c2c2c;
  font-family: 'Montserrat', sans-serif;
}
.button-transparent {
  border: 1px solid #6cac72;
  border-radius: 3px;
  padding: 15px 26px;
  width: 254px;
  background: #fff;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #6cac72;
  font-family: 'Montserrat', sans-serif;
  cursor: pointer;
  margin-right: 12px;
}
.button {
  border: 1px solid #456f49;
  font-weight: 400;
  font-size: 18px;
  line-height: 130%;
  color: #fff;
  font-family: 'Montserrat', sans-serif;
  border-radius: 5px;
  padding: 15px 40px;
  width: 234px;
}
