<div class="order">
  <div class="container">
    <div class="order-title">Оформление вашего заказа</div>
    <div class="order-info">
      <div class="data-form" [formGroup]="orderForm">
        <div class="data-form-block">
          <div class="data-form-label">Выберите способ доставки</div>
          <div class="data-form-types">
            <div
              class="data-form-type-item"
              [class.active]="deliveryType() == deliveryTypes.delivery"
              (click)="changeDeliveryType(deliveryTypes.delivery)"
            >
              Курьером
            </div>
            <div
              class="data-form-type-item"
              [class.active]="deliveryType() == deliveryTypes.self"
              (click)="changeDeliveryType(deliveryTypes.self)"
            >
              Самовывоз
            </div>
          </div>
        </div>
        <div class="data-form-block">
          <div class="data-form-label">Заполните личные данные</div>
          <div class="data-form-inputs personai-data-inputs">
            <input
              type="text"
              class="input"
              formControlName="lastName"
              placeholder="Фамилия"
              [ngStyle]="{
                'border-color':
                  orderForm.get('lastName')?.invalid &&
                  (orderForm.get('lastName')?.dirty || orderForm.get('lastName')?.touched)
                    ? 'red'
                    : '',
              }"
            />
            <input
              type="text"
              class="input"
              formControlName="firstName"
              placeholder="Имя"
              [ngStyle]="{
                'border-color':
                  orderForm.get('firstName')?.invalid &&
                  (orderForm.get('firstName')?.dirty || orderForm.get('firstName')?.touched)
                    ? 'red'
                    : '',
              }"
            />
            <input
              type="text"
              class="input"
              formControlName="fatherName"
              placeholder="Отчество"
              [ngStyle]="{
                'border-color':
                  orderForm.get('fatherName')?.invalid &&
                  (orderForm.get('fatherName')?.dirty || orderForm.get('fatherName')?.touched)
                    ? 'red'
                    : '',
              }"
            />
            <input
              type="text"
              class="input"
              formControlName="phone"
              placeholder="Телефон"
              [ngStyle]="{
                'border-color':
                  orderForm.get('phone')?.invalid &&
                  (orderForm.get('phone')?.dirty || orderForm.get('phone')?.touched)
                    ? 'red'
                    : '',
              }"
            />
            <input
              type="text"
              class="input"
              formControlName="email"
              placeholder="E-mail"
              [ngStyle]="{
                'border-color':
                  orderForm.get('email')?.invalid &&
                  (orderForm.get('email')?.dirty || orderForm.get('email')?.touched)
                    ? 'red'
                    : '',
              }"
            />
          </div>
        </div>
        <div class="data-form-block" [class.show]="notDelivery() === true">
          <div class="data-form-label">Заполните адрес доставки</div>
          <div class="data-form-inputs address-inputs">
            <input
              type="text"
              class="input street"
              formControlName="street"
              placeholder="Улица"
              [ngStyle]="{
                'border-color':
                  orderForm.get('street')?.invalid &&
                  (orderForm.get('street')?.dirty || orderForm.get('street')?.touched)
                    ? 'red'
                    : '',
              }"
            />
            <input
              type="text"
              class="input house"
              formControlName="house"
              placeholder="№ дома"
              [ngStyle]="{
                'border-color':
                  orderForm.get('house')?.invalid &&
                  (orderForm.get('house')?.dirty || orderForm.get('house')?.touched)
                    ? 'red'
                    : '',
              }"
            />
            <input
              type="text"
              class="input entrance"
              formControlName="entrance"
              placeholder="Подъезд"
              [ngStyle]="{
                'border-color':
                  orderForm.get('entrance')?.invalid &&
                  (orderForm.get('entrance')?.dirty || orderForm.get('entrance')?.touched)
                    ? 'red'
                    : '',
              }"
            />
            <input
              type="text"
              class="input apartment"
              formControlName="apartment"
              placeholder="№ квартиры"
              [ngStyle]="{
                'border-color':
                  orderForm.get('apartment')?.invalid &&
                  (orderForm.get('apartment')?.dirty || orderForm.get('apartment')?.touched)
                    ? 'red'
                    : '',
              }"
            />
          </div>
        </div>
        <div class="data-form-block">
          <div class="data-form-label">Выберите способ оплаты</div>
          <div class="data-form-radio">
            <div class="data-form-radio-block">
              <input
                type="radio"
                class="input"
                id="card"
                value="{{ paymentTypes.cardOnline }}"
                formControlName="paymentType"
              />
              <label for="card">Оплата банковской картой в интернет-магазине</label>
            </div>
            <div class="data-form-radio-block">
              <input
                type="radio"
                class="input"
                id="cashless"
                value="{{ paymentTypes.cardToCourier }}"
                formControlName="paymentType"
              />
              <label for="cashless">Безналичный расчет при получении</label>
            </div>
            <div class="data-form-radio-block">
              <input
                type="radio"
                class="input"
                id="cash"
                value="{{ paymentTypes.cashToCourier }}"
                formControlName="paymentType"
                checked
              />
              <label for="cash">Наличный расчет при получении</label>
            </div>
          </div>
        </div>
        <div class="data-form-block">
          <div class="data-form-label">Комментарий к заказу (необязательно)</div>
          <div class="data-form-area">
            <textarea
              cols="85"
              rows="10"
              name="text"
              class="input"
              formControlName="comment"
              id="comment"
              placeholder="Оставьте свой комментарий..."
            ></textarea>
          </div>
        </div>
      </div>
      <div class="order-details">
        <div class="order-details-card">
          <div class="order-details-price">
            <div class="order-details-title">Ваш заказ</div>
            <div class="order-details-quantity">
              Товаров: <span>{{ totalCount() }}</span>
            </div>
            <div class="order-details-general">
              Общая стоимость: <span>{{ totalPrice() }} BYN</span>
            </div>
            <div class="order-details-delivery">
              Стоимость доставки: <span>{{ deliveryPrice() }} BYN</span>
            </div>
            <div class="order-details-summary">
              Итоговая стоимость: <span>{{ summaryPrice() }} BYN</span>
            </div>
          </div>
        </div>
        <div class="order-actions">
          <button class="button" (click)="createOrder()">Подтвердить заказ</button>
        </div>
      </div>
    </div>
  </div>
</div>

<ng-template #popup>
  <div class="order-popup">
    <div class="order-popup-close" (click)="closeDialog()">
      <svg
        width="16"
        height="16"
        viewBox="0 0 16 16"
        fill="none"
        xmlns="http://www.w3.org/2000/svg"
      >
        <line
          x1="1.93562"
          y1="2.6499"
          x2="13.9564"
          y2="14.6707"
          stroke="#A8ABA7"
          stroke-linecap="round"
        />
        <line
          x1="13.9238"
          y1="2.62971"
          x2="1.90301"
          y2="14.6505"
          stroke="#A8ABA7"
          stroke-linecap="round"
        />
      </svg>
    </div>
    <div class="order-popup-title">Благодарим за заказ!</div>
    <div class="order-popup-content">
      <div>Ваш заказ оформлен.</div>
      <div>Вся информация о заказе была выслана вам на почту.</div>
      <div>Курьер свяжется с вами за два часа до доставки товара.</div>
    </div>
  </div>
</ng-template>
